<?xml version="1.0" encoding="utf-8"?>
<!--
  ~     This file is part of Sarrafi.
  ~
  ~     Sarrafi is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Sarrafi is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with Sarrafi.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shalchian.sarrafi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name=".SarrafiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainTabActivity"/>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />

        <!-- Edge Panel (Galaxy Edge) -->
        <receiver
            android:name=".edge.EdgePlusList"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                <action android:name="com.shalchian.sarrafi.action.ACTION_PULL_TO_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/edge_single_plus_list" />
        </receiver>

        <service
            android:name=".edge.PriceListAdapterService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.samsung.android.cocktail.mode"
            android:value="edge_single_plus" />

    </application>

</manifest>